* {
    margin: 0;
}

/* Universal styles */
@font-face {
    font-family: 'Baloo Tamna';
    src: url('../fonts/Baloo_Tamma_2/BalooTamma2-Regular.ttf') format('truetype');
}

html {
    font-family: 'Baloo Tamna', 'Ubuntu', sans-serif;
    font-size: 18px;
    color: hsl(0,0%,82.7%);
}

body {
    background-color: hsl(205.7,13.7%,10%);
}

/* Header and Nav styles */

header {
    width: 100%;
    height: 60px;
    position: fixed;
    display: flex;
    z-index: 10;
    background-color: hsl(5.5,6.6%,35.3%);
    animation: fadeInRight;
    animation-duration: 1.5s;
}

.banner {
    width: 50%;
    height: 100%;
    display: inline-flex;
    padding-left: 1%;
    align-items: center;
    color: hsl(0,0%,82.7%);
}

.menu {
    width: 50%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
}

.menu a {
    color: hsl(0,0%,82.7%);
    padding: 1%;
    margin: 1%;
    border-radius: 5px;
    transition-duration: 0.2s;
    text-decoration: none;
}

.menu a:hover {
    background-color: hsl(205.7,13.7%,10%);
}

/* Main section styles */

main {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-top: 60px;
    align-items: center;
}

/* Each content section */

.content {
    display: inline-flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    min-height: 550px;
    flex-direction: row;
    padding-bottom: 1%;
    animation: fadeInLeft;
    animation-duration: 1.5s;
}

.content h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 7%;
}

.contentboxright {
    display: inline-flex;
    width: 50%;
    background-color: hsl(359.4,87.2%,21.4%);
    flex-wrap: wrap;
    justify-content: center;
    text-align: justify;
    border-radius: 0px 5px 5px 0px;
}

.contentboxright p {
    padding: 5%;
}

.contentboxleft {
    display: inline-flex;
    width: 50%;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: hsl(359.4,87.2%,21.4%);
    border-radius: 5px 0px 0px 5px;
    text-align: justify;
}

.contentboxleft p {
    padding: 5%;
}

#avatar {
    border-radius: 50%;
    border: 4px solid hsl(205.7,13.7%,10%);
    width: 30%;
    height: auto;
    animation: tada;
    animation-duration: 2.5s;
    animation-delay: 1.4s;
}

/* Examples of my projects container and buttons */
.example {
    height: 175px;
    width: 255px;
    border-radius: 5px;
    display: inline-flex;
    margin: 2%;
    justify-content: center;
    flex-flow: wrap;
    text-align: center;
}

.example h3 {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: black;
    width: 100%;
    height: min-content;
    border-radius: 5px 5px 0px 0px;
}

.contentboxright a {
    color: hsl(0,0%,82.7%);
    margin: 1%;
    border-radius: 5px;
    transition-duration: 0.2s;
    text-decoration: none;
}

/* Example 1 - top left corner buttons and background */

#example1 {
    background-image: url('../images/dustron.PNG');
    background-size: cover;
    background-repeat: no-repeat;
}

#butexa1-1 {
    height: 50px;
    width: 90px;
    margin: 5px;
    background-color: black;
    opacity: 0.8;
    color: hsl(0,0%,82.7%);
    display: none;
    border-radius: 5px;
    border: 1px solid hsl(0,0%,82.7%);
    transition-duration: 0.2s;
}

#butexa1-1:hover {
    background-color: hsl(205.7,13.7%,10%);
}

#butexa1-2 {
    height: 50px;
    width: 90px;
    margin: 5px;
    background-color: black;
    opacity: 0.8;
    color: hsl(0,0%,82.7%);
    display: none;
    border-radius: 5px;
    border: 1px solid hsl(0,0%,82.7%);
    transition-duration: 0.2s;
}

#butexa1-2:hover {
    background-color: hsl(205.7,13.7%,10%);
}

#example2 {
    background-image: url("../images/fortune.PNG");
    background-size: cover;
    background-repeat: no-repeat;
}
#butexa2-1 {
    height: 50px;
    width: 90px;
    margin: 5px;
    background-color: black;
    opacity: 0.8;
    color: hsl(0,0%,82.7%);
    display: none;
    border-radius: 5px;
    border: 1px solid hsl(0,0%,82.7%);
    transition-duration: 0.2s;
}

#butexa2-1:hover {
    background-color: hsl(205.7,13.7%,10%);
}

#butexa2-2 {
    height: 50px;
    width: 90px;
    margin: 5px;
    background-color: black;
    opacity: 0.8;
    color: hsl(0,0%,82.7%);
    display: none;
    border-radius: 5px;
    border: 1px solid hsl(0,0%,82.7%);
    transition-duration: 0.2s;
}

#butexa2-2:hover {
    background-color: hsl(205.7,13.7%,10%);
}

#example3 {
    background-image: url('../images/teacozy.PNG');
    background-size: cover;
    background-repeat: no-repeat;
}

#butexa3-1 {
    height: 50px;
    width: 90px;
    margin: 5px;
    background-color: black;
    opacity: 0.8;
    color: hsl(0,0%,82.7%);
    display: none;
    border-radius: 5px;
    border: 1px solid hsl(0,0%,82.7%);
    transition-duration: 0.2s;
}

#butexa3-1:hover {
    background-color: hsl(205.7,13.7%,10%);
}

#butexa3-2 {
    height: 50px;
    width: 90px;
    margin: 5px;
    background-color: black;
    opacity: 0.8;
    color: hsl(0,0%,82.7%);
    display: none;
    border-radius: 5px;
    border: 1px solid hsl(0,0%,82.7%);
    transition-duration: 0.2s;
}

#butexa3-2:hover {
    background-color: hsl(205.7,13.7%,10%);
}

#example4 {
    background-image: url('../images/dishpicker.PNG');
    background-size: cover;
    background-repeat: no-repeat;
}

#butexa4-1 {
    height: 50px;
    width: 90px;
    margin: 5px;
    background-color: black;
    opacity: 0.8;
    color: hsl(0,0%,82.7%);
    display: none;
    border-radius: 5px;
    border: 1px solid hsl(0,0%,82.7%);
    transition-duration: 0.2s;
}

#butexa4-1:hover {
    background-color: hsl(205.7,13.7%,10%);
}

#butexa4-2 {
    height: 50px;
    width: 90px;
    margin: 5px;
    background-color: black;
    opacity: 0.8;
    color: hsl(0,0%,82.7%);
    display: none;
    border-radius: 5px;
    border: 1px solid hsl(0,0%,82.7%);
    transition-duration: 0.2s;
}

#butexa4-2:hover {
    background-color: hsl(205.7,13.7%,10%);
}

#contact {
    display: block;
    text-align: center;
}

#contact a {
    margin: 2%;
}

/* Form and submit button style */
#formsubmit {
    height: 50px;
    min-width: 90px;
    background-color: black;
    opacity: 0.8;
    color: hsl(0,0%,82.7%);
    border-radius: 5px;
    border: 1px solid hsl(0,0%,82.7%);
    transition-duration: 0.2s;
}

#formsubmit:hover {
    background-color: hsl(205.7,13.7%,10%);
}

/* Footer styles*/

footer {
    text-align: center;
    width: 100%;
    display: flex;
    background-color: hsl(330,10%,3.9%);
}

.footleft {
    display: inline-flex;
    width: 50%;
    align-items: center;
    padding: 5px;
}

.footright {
    display: inline-flex;
    width: 50%;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
}

#miniavatar {
    display: none;
    border-radius: 90px;
    width: auto;
    height: 25px;
    margin-right: 7px;
}

#miniavatarspeak {
    display: none;
}

.fa {
    padding: 5px;
    width: 50px;
    color: hsl(0,0%,82.7%);
    text-decoration: none;
  }
  
.fa:hover {
    opacity: 0.7;
}

@media only screen and (max-width: 480px) {
    .banner {
        display: none;
    }
    .menu {
        width: 100%;
        justify-content: center;
    }
    main {
        padding-top: 0px;
    }
    .content {
        flex-direction: column;
        padding-top: 10%;
    }
    .contentboxleft {
        width: 100%;
        padding-top: 3%;
        border-radius: 5px 5px 0px 0px;
        text-align: center;
    }
    .contentboxright {
        width: 100%;
        padding-bottom: 3%;
        border-radius: 0px 0px 5px 5px;
        text-align: center;
    }
    #butexa1-1 {
        display: block;
    }
    #butexa1-2 {
        display: block;
    }
    #butexa2-1 {
        display: block;
    }
    #butexa2-2 {
        display: block;
    }
    #butexa3-1 {
        display: block;
    }
    #butexa3-2 {
        display: block;
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    .banner {
        width: 30%;
        font-size: 0.6rem;
    }
    .menu {
        width: 71%;
        justify-content: right;
    }
    main {
        padding-top: 0px;
    }
    .content {
        flex-direction: column;
        padding-top: 10%;
    }
    .contentboxleft {
        width: 100%;
        padding-top: 3%;
        border-radius: 5px 5px 0px 0px;
        text-align: center;
    }
    .contentboxright {
        width: 100%;
        padding-bottom: 3%;
        border-radius: 0px 0px 5px 5px;
        text-align: center;
    }
    #butexa1-1 {
        display: block;
    }
    #butexa1-2 {
        display: block;
    }
    #butexa2-1 {
        display: block;
    }
    #butexa2-2 {
        display: block;
    }
    #butexa3-1 {
        display: block;
    }
    #butexa3-2 {
        display: block;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .banner {
        width: 29%;
        font-size: 0.6rem;
    }
    .menu {
        width: 71%;
    }
    main {
        padding-top: 0px;
    }
    .contentboxleft {
        flex-direction: column;
    }
    #butexa1-1 {
        display: block;
    }
    #butexa1-2 {
        display: block;
    }
    #butexa2-1 {
        display: block;
    }
    #butexa2-2 {
        display: block;
    }
    #butexa3-1 {
        display: block;
    }
    #butexa3-2 {
        display: block;
    }
    .footleft {
        width: 70%;
    }
}